@using Actris.Abstraction.Model.View
@using Newtonsoft.Json
@model GridListModel

@foreach (var row in Model.Rows)
{
   var i = 0;
   <tr>

      @foreach (var column in row.Columns)
      {
         i++;



         <td>@column.Text</td>


      }
      @if (!Model.HideActionButton)
      {
         <td>
            <div class="d-flex">
               <a class="btn btn-secondary btn-sm me-1" href="#" onclick="crud.showReadonlyForm('@row.Id')" title="View">
                  <i class=" fa fa-solid fa-eye"></i>
               </a>
               <a class="btn btn-secondary btn-sm me-1" href="#" onclick="crud.showEditForm('@row.Id')" title="Edit">
                  <i class=" fa fa-solid fa-pencil"></i>
               </a>

               <a class="btn btn-secondary btn-sm" href="#" onclick="crud.showConfirmDelete('@row.Id', '@row.Columns.First().Value')" title="Delete">
                  <i class="fa fa-regular fa-trash-can text-danger"></i>
               </a>
            </div>
         
         </td>
      }
   </tr>
}